flows.json
[{"id":"c195ea10.1bfc18","type":"ibmiot in","z":"175c0fd5.58eca","authentication":"apiKey","apiKey":"ace42c70.49ec9","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"123456","applicationId":"","deviceType":"raspberrypi","eventType":"","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":false,"allCommands":"","allFormats":"","qos":0,"x":150,"y":200,"wires":[["7fb23d3.b4e84c4","237b8093.c49f6","f59b5420.247d38"]]},{"id":"7fb23d3.b4e84c4","type":"debug","z":"175c0fd5.58eca","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":630,"y":200,"wires":[]},{"id":"237b8093.c49f6","type":"function","z":"175c0fd5.58eca","name":"garbage","func":"global.set('garbage',msg.payload.garbage)\nmsg.payload=msg.payload.garbage\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":100,"wires":[["7fb23d3.b4e84c4","463aca0.e60f438"]]},{"id":"f59b5420.247d38","type":"function","z":"175c0fd5.58eca","name":"height","func":"global.set('height',msg.payload.height)\nmsg.payload=msg.payload.height\nreturn msg;","outputs":1,"noerr":0,"x":369,"y":302,"wires":[["7fb23d3.b4e84c4","8c663bad.89bea8"]]},{"id":"463aca0.e60f438","type":"ui_gauge","z":"175c0fd5.58eca","name":"","group":"80b7a1c.7eca46","order":1,"width":0,"height":0,"gtype":"gage","title":"garbage","label":"Kg","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":690,"y":100,"wires":[]},{"id":"8c663bad.89bea8","type":"ui_gauge","z":"175c0fd5.58eca","name":"","group":"80b7a1c.7eca46","order":2,"width":0,"height":0,"gtype":"gage","title":"height","label":"Cm","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":670,"y":300,"wires":[]},{"id":"c2724199.06cb6","type":"ui_button","z":"175c0fd5.58eca","name":"","group":"80b7a1c.7eca46","order":4,"width":0,"height":0,"passthru":false,"label":"empty","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"empty\"}","payloadType":"json","topic":"","x":150,"y":660,"wires":[["796e216e.76afa","fb9666cb.e68348"]]},{"id":"de409dc.db03a6","type":"ui_button","z":"175c0fd5.58eca","name":"","group":"80b7a1c.7eca46","order":3,"width":0,"height":0,"passthru":false,"label":"full","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"full\"}","payloadType":"json","topic":"","x":150,"y":580,"wires":[["796e216e.76afa","fb9666cb.e68348"]]},{"id":"796e216e.76afa","type":"ibmiot out","z":"175c0fd5.58eca","authentication":"apiKey","apiKey":"ace42c70.49ec9","outputType":"cmd","deviceId":"123456","deviceType":"raspberrypi","eventCommandType":"home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":720,"y":660,"wires":[]},{"id":"fb9666cb.e68348","type":"debug","z":"175c0fd5.58eca","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":600,"wires":[]},{"id":"3d0ff4ab.9e70bc","type":"http in","z":"175c0fd5.58eca","name":"Data","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":130,"y":400,"wires":[["298a4038.b7c52"]]},{"id":"2c45970e.0fee38","type":"http response","z":"175c0fd5.58eca","name":"","statusCode":"","headers":{},"x":580,"y":400,"wires":[]},{"id":"298a4038.b7c52","type":"function","z":"175c0fd5.58eca","name":"","func":"\nmsg.payload={'garbage':global.get(\"garbage\"),'height':global.get(\"height\")}\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":400,"wires":[["2c45970e.0fee38"]]},{"id":"824f3de7.ca42c","type":"http in","z":"175c0fd5.58eca","name":"","url":"/command","method":"get","upload":false,"swaggerDoc":"","x":140,"y":500,"wires":[["de1eb014.57afc"]]},{"id":"de1eb014.57afc","type":"function","z":"175c0fd5.58eca","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":500,"wires":[["33c960df.fdbd","725de2ea.5a30cc","796e216e.76afa"]]},{"id":"33c960df.fdbd","type":"http response","z":"175c0fd5.58eca","name":"","statusCode":"","headers":{},"x":570,"y":500,"wires":[]},{"id":"725de2ea.5a30cc","type":"debug","z":"175c0fd5.58eca","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":460,"wires":[]},{"id":"ace42c70.49ec9","type":"ibmiot","z":"","name":"garbage ","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"80b7a1c.7eca46","type":"ui_group","z":"","name":"Default","tab":"fc3cd23c.51695","order":1,"disp":true,"width":"6","collapse":false},{"id":"fc3cd23c.51695","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]